{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}


{% block body %}
    <div class="jumbotron text-center">

        <h1>Sen L<i>immo</i> </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi cum delectus deleniti dolor dolorem
            doloribus,
            enim et eum facere hic ipsa laborum magni maxime omnis, placeat quas quibusdam, quidem?</p>
    </div>

    <div class="container">
        <h2>Nos derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.titre }}</a>
                            </h5>
                          <p class="card-text">{{ property.adresse }} </p>
                            <div class="text-primary"> {{ property.prix | number_format(0, '', ' ') }} FCFA</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

  
{% endblock %}